6

● For each of the following expressions, what value will the expression give? Verify your
answers by typing the expressions into Python.
a. 9 - 3
b. 8 * 2.5
c. 9 / 2
d. 9 / -2
e. 9 // -2
f. 9 % 2
g. 9.0 % 2
h. 9 % 2.0
i. 9 % -2
j. -9 % 2
k. 9 / -2.0
l. 4 + 3 * 5
m. (4 + 3) * 5

In [2]:
print(9-3)

6

In [2]:
print(8 * 2.5)

20.0

In [3]:
print(9 / 2)

4.5

In [4]:
print(9 /-2)

-4.5

In [5]:
print(9 // -2)

-5

In [6]:
print(9 % 2)

1

In [7]:
print(9.0 % 2)

1.0

In [8]:
print(9 % 2.0)

1.0

In [9]:
print(9 % -2)

-1

In [10]:
print(-9 % 2)

1

In [11]:
print(9 / -2.0)

-4.5

In [14]:
print((4 + 3) * 5)

35

In [15]:
print(4 + 3 * 5)

19

Create a variable x that stores an integer. Use the sep optional argument to print out x, 2x,
3x, 4x, and 5x, each separated by three dashes, like below if x=7. (hint: use multiplication
operator and print function)
7---14---21---28---35

In [7]:
x=7
print(x,"---", 2*x,"---", 3*x,"---", 4*x,"---",5*x)

7 --- 14 --- 21 --- 28 --- 35

Write a program that asks the user to enter two numbers, obtains the two numbers from the
user and prints the sum, product, difference, quotient and remainder of the two numbers.
Sample output is as following:

In [ ]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
print (num1+ num2)
print (num1-num2 )
print(num1*num2)
print(num1/num2)
print(num1%num2)

In [ ]:
Write a program that reads in the radius of a circle and prints the circle’s diameter,
circumference and area. Use the constant value 3.14159 for π. Perform each of these
calculations inside the print statement(s)

In [ ]:
radius =int(input("ENTER A radius"))
pi= 3.142
print("diameter of circle: ", 2*radius)
print("circumference of circle: ", 2*pi*radius)
print("area of a circle:", pi*radius*2)

 Write a program that produces the following output using variables instead of
hardcoding:

In [3]:
print('''
HHHHHH
 HHHHH
   HHH
    HH
     H
''')

HHHHHH
 HHHHH
   HHH
    HH
     H

Using only the techniques you have learned so far, write a program that calculates the square
and cube of the numbers from 0 to 10 and uses tabs to print the following table of values:

In [8]:
a,b,c,d,e,f,g,h,i,j,k=0,1,2,3,4,5,6,7,8,9,10
print("number\tsquare\tcube")
print(a, "\t", a**2,"\t",a**3)
print(b, "\t", b**2,"\t",b**3)
print(c, "\t", c**2,"\t",c**3)
print(d, "\t", d**2,"\t",d**3)
print(e, "\t", e**2,"\t",e**3)
print(f, "\t", f**2,"\t",f**3)
print(g, "\t", g**2,"\t",g**3)
print(h, "\t", h**2,"\t",h**3)
print(i, "\t", i**2,"\t",i**3)
print(j, "\t", j**2,"\t",j**3)
print(k, "\t", k**2,"\t",k**3)

number	square	cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125
6 	 36 	 216
7 	 49 	 343
8 	 64 	 512
9 	 81 	 729
10 	 100 	 1000

Write a program that reads an integer and determines and prints whether it is odd or even.

In [6]:
num = int(input("enter a number: "))
if num%2==0:
    print(num,"you entered is an even")
else:
    print("you entered an odd number ")

enter a number: 6
6 you entered is an even

In [7]:
num = int(input("enter a number: "))
if num%2==0:
    print(num,"you entered is an even")
else:
    print("you entered an odd number ")

enter a number: 9
you entered an odd number

Write a program that inputs three different integers from the keyboard, and then prints the
smallest and the largest of these numbers. Use only the single-selection form of the if
statement that you learned in the class. The screen dialogue should appear as follows:
Input three different integers: 13 27 14
Smallest is 13
Largest is 27

In [3]:
num1 =int(input("enter first number"))
num2=int(input("enter second number"))
num3=int(input("enter third number"))
small_num =0
large_num =0
if num1<num2<num3:
    small_num=num1
if num2<num1<num3:
    small_num=num2
if num3<num2<num1:
    small_num=num3
    
if num1>num2>num3:
    large_num=num1
if num2>num1>num3:
    large_num=num2
if num3>num2>num1:
    large_num=num3
print("smallest number:",small_num)
print("largest number:",large_num)

enter first number13
enter second number27
enter third number14
smallest number: 0
largest number: 0

Write a program that assigns values to two variables and then swap their values. *

In [11]:
a=5
b=8
a,b=b,a
print("a",a)
print("b",b)

a 8
b 5

Which of the following expressions results in SyntaxErrors? Identify the syntax
SyntaxErrors and type the reason of error along with the correct code by mentioning its
sequence number.
n. 6 * -----------8
o. 8 = people
p. ((((4 ** 3))))
q. (-(-(-(-5))))
r. 4 += 7 / 2

In [5]:
print(6*------8)

48

In [6]:
print(8==people)

NameError: name 'people' is not defined

In [8]:
print((((4**3))))

64

In [9]:
print(-(-(-(-5))))

5

In [10]:
print(4+=7/2)

SyntaxError: invalid syntax (302065406.py, line 1)

● Write a program that inputs one five-digit number, generates its reverse and displays the
reverse on screen.(Hint: Make use of the arithmetic operators modulus (%) and floor (// )

In [12]:
number=int(input("enter a number"))
digit1= number%10
digit2 = (number//10)%10
digit3 = (number//100)%10
digit4 = (number//1000)%10
digit5 = (number//10000)%10

reverse = digit1*10000+digit2*1000+digit3*100+digit4*10+digit5
print("reverse number:", reverse)

enter a number78952
reverse number: 25987

Using whatever we have learned so far, write a program that prints a box, an oval, an
arrow and a diamond as follows:

In [17]:
a="*"

print(9*a,"          ",3*a,"                     ",1*a,"               ",1*a)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"      ",3*a,"           ",1*a,1*a)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",5*a,"               ",1*a" ,"1*a)  
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",1*a,"               ",1*a" ,       "1*a)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",1*a,"            ",1*a" ,      "1*a)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",1*a,"          ",1*a" ,       ",1*a" ,)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",1*a,"                  ",1*a" ,      "1*a)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",1*a,"                     ",1*a" ,"1*a)
print(1*a,"          ",1*a,"            ",1*a,"             ",1*a"   ",1*a,"                  ",1*a" ,"1*a)
print(1*a,"          ",3*a,"                       ",1*a,"            ",1*a)

SyntaxError: unterminated string literal (detected at line 8) (3152308107.py, line 8)